.body{
    background-color: #f6f4f0;
}

.header{
    background-color: #008d92;
    padding: 1rem 0 3rem 0;
}
h1{
    color: white;
}
.container-nav{
    display: flex;   
    justify-content: center;
    flex-direction: row;
}


a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
   

}

.navegacion{
    padding: 2rem 0 0 15rem;
    display: flex;
    gap:2rem;
   
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  margin-left: 3rem;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}
.titulo-modo-reserva{
	padding-left:3rem;
	padding-bottom: 8rem;
}
.container{
	display:flex-wrap;
	align-items: center;
	width: 50rem;
	border:solid dodgerblue;
	height: 20rem;
	margin:8rem 15rem 8rem 30rem;
}